<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<ol id="list">
</ol>

<script>
  // Hit the JSON endpoint
  $.get("/cakes.json", function(data) {
    // Build output list
    var output = [];
    $.each(data["cake_list"], function(i, cake_type) {
      output.push('<li>' + cake_type + '</li>');
    }); // close each()

    // Add newly built list to view
    $("#list").append(output.join(''));
  }); //close get()
</script>
